<footer>
    <div class="footer-info">Contact us: aruka@university.com</div>
    <div class="footer-links">
        <a href="#">Privacy Policy</a>
        <a href="#">Terms of Service</a>
        <a href="#">FAQ</a>
    </div>
</footer>
<style>
    footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: black; /* Изменили цвет фона на черный */
        padding: 0px 0; /* Увеличили отступы сверху и снизу для большего контента */
        text-align: center;
        color: white;
    }

    .footer-info {
        font-size: 15px;
        margin-top: 10px;
    }

    .footer-links {
        margin-top: 10px;
    }

        .footer-links a {
            color: #fff;
            text-decoration: none;
            margin: 0 10px;
        }

            .footer-links a:hover {
                text-decoration: underline;
            }
</style>

